.container{
    /* #1C2833 */
    background-color: black;
    height: 400px;
    margin-top: 50px;
}

.footer-image>img{
    width: 150px;
    margin-top: 50px;
}

.footer-nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-nav>h5{
    color: white;
    font-weight: 300;
    font-size: 16px;
}

.footer-add>h5{
    color: white;
    font-weight: 300;
    font-size: 16px;
}


@media only screen and (max-width: 1024px){
    .container{
     
        height: 400px;
        width: 100%;
    }

    .footer-nav{
        display: flex;
       gap: 10px;
    }
    .footer-nav>h5{
    
        font-size: 10px;
    }

    .footer-add>h5{
        font-size: 12px;
    }
}