
.main-conatiner{
     display: flex;
     justify-content: space-between;
     margin-top: 100px;
}
.heading-con>h1{
    color: #FF3A2D;
    font-size: 43px;
    text-align: left
}


.details-con>h5{
       
    width: 96%;
    line-height: 1.66em;
    font-family:"Roboto",sans-serif;
    font-size: 1rem;
    text-align: left
}




.img-con>img{

    width: 500px;
    height: 400px;

}

.btn-con{
    text-align: left
}

.btn-con>button{
   
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 5px;
    background-color: #FF3A2D;
    color: white;
    font-size: medium;
    
}


@media only screen and (max-width: 1024px){
    .main-conatiner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .img-con > img {
        width: 100%;
        height: auto;
        margin-top: 15px;
    }

    .btn-con {
        text-align: left;
        margin-top: 15px;
    }

    .details-con>h5{
       
        width: 100%;

    }
  }