 .nav-con{

    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    position: sticky;
    top: 0; 
    background-color: white; 
    z-index: 100;
    
}
.nav-heading{
    margin-top: -10px;
}

.nav-name{
    display: flex;
    gap: 20px;
   
}

.nav-heading{
     display: flex;
     gap: 10px;
}
.nav-heading>h1{

      font-weight: 400;
      color:#003358;

}

.nav-heading>img{
   width: 40px;
   height: 40px;
   margin-top: 20px;
}

.nav-name>div>h3{
    color:#003358;
} 



.menu-icon {
    display: none;
    cursor: pointer;
}

.drawer {
    display: none;
    background-color: #003358;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drawer h3 {
    margin: 10px;
}

.drawer.open {
    display: flex;
}

.close-icon {
    cursor: pointer;
    font-size: 24px; 
    margin-bottom: 20px; 
}

@media only screen and (max-width: 1024px) {
    .nav-name {
        display: none;
    }
 .menu-icon{
    display: block;
    margin-top: 10px;
    font-size:30px;
 }
  
}